.p-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.red-p > p {
  margin-top: -50px;
  color: var(--kirmizi);
  font-family: "Satisfy";
  font-size: 24px;
}

.big-p > p {
  margin-top: -20px;
  color: black;
  font-family: "Barlow";
  font-size: 40px;
  font-weight: 500;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .p-container {
    gap: 20px;
  }

  .red-p > p {
    font-size: 20px;
    margin-top: 30px;
  }

  .big-p > p {
    margin-top: -10px;
    font-size: 30px;
  }

  .btn-container {
    padding: 10px;
  }
}
