.siparis-btn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 50px;
}
.siparis-btn > button {
  background-color: whitesmoke;
  font-family: Barlow;
  font-weight: 600;
  color: var(--kirmizi);
  border: none;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  height: 30px;
  width: 100px;
}
@media only screen and (max-width: 600px) {
  .siparis-btn > button {
    margin-top: -25px;
  }
}
